{
	"blockKey" : [
		{
			"value" : [255, 0, 0],
			"foregroundBlock" : true,
			"backgroundBlock" : true,
			"backgroundMat" : "blackblock"
		},
		
		{
			"value" : [0, 0, 0],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "blackblock"
		},
		
		{
			"value" : [255, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "blackblock",
			"object": "techstation"
		},

		{
			"value" : [0, 255, 255],
			"anchor" : false,
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "blackblock",
			"object" : "teddybearplush",
			"flags" : [ "playerSpawn" ],
			"objectParameters" : {
				"unbreakable": true,
				"color": "?replace;7B7B7B=A9A9A9;303030=5E5E5E;0F0F0F=3D3D3D;CCAE7C=fff;A47844=DADADA;754C23=B5B5B5;714F3C=FFBFE9;513A2D=FF8CBA;36261E=D85D88;D95B3A=D768FF;933324=9652C1;601911=6D3F8E;",
				"interactAction": "OpenTeleportDialog",
				"interactData": {
					"canBookmark" : false,
					"includePartyMembers" : true,
					"includePlayerBookmarks" : true,
					"destinations" : [
						{"name": "Warp to Outpost", "planetName": "outpost=outpost", "warpAction": "InstanceWorld:outpost=outpost", "icon": "outpost"},
						{"name": "Warp to Ark", "planetName": "outpost=arkteleporter", "warpAction": "InstanceWorld:outpost=arkteleporter", "icon": "ark"},
						{"name": "Warp to Museum", "planetName": "museum", "warpAction": "InstanceWorld:museum", "icon": "ark"},
						{"name": "Cyberspace", "planetName": "cyberspace", "warpAction": "InstanceWorld:cyberspace", "icon": "alien"},
						{"name": "Player Station", "planetName": "playerstation", "warpAction": "InstanceWorld:playerstation", "icon": "spacestation"},

						{"name": "Introduction", "planetName": "protectorate", "warpAction": "InstanceWorld:protectorate", "icon": "garden"},
						{"name": "Lunar Base", "planetName": "lunarbase", "warpAction": "InstanceWorld:lunarbase", "icon": "moon"},
						{"name": "Hunting Caverns", "planetName": "floranmission1", "warpAction": "InstanceWorld:floranmission1", "icon": "forest"},
						{"name": "Pagoda Library", "planetName": "hylotlmission1", "warpAction": "InstanceWorld:hylotlmission1", "icon": "ocean"},
						{"name": "Kluex Temple", "planetName": "avianmission1", "warpAction": "InstanceWorld:avianmission1", "icon": "desert"},
						{"name": "Miniknog Stronghold", "planetName": "apexmission1", "warpAction": "InstanceWorld:apexmission1", "icon": "jungle"},
						{"name": "The Barons Keep", "planetName": "glitchmission1", "warpAction": "InstanceWorld:glitchmission1", "icon": "garden"},
						{"name": "The Ruin", "planetName": "tentaclemission", "warpAction": "InstanceWorld:tentaclemission", "icon": "tentacle"},
						{"name": "Penguin Mission: 1", "planetName": "penguinmission1", "warpAction": "InstanceWorld:penguinmission1", "icon": "snow"},
						{"name": "Penguin Mission: 2", "planetName": "penguinmission2", "warpAction": "InstanceWorld:penguinmission2", "icon": "snow"},

						{"name": "Ancient Vault: Electric", "planetName": "ancientvault_electric", "warpAction": "InstanceWorld:ancientvault_electric", "icon": "savannah"},
						{"name": "Ancient Vault: Ice", "planetName": "ancientvault_ice", "warpAction": "InstanceWorld:ancientvault_ice", "icon": "arctic"},
						{"name": "Ancient Vault: Poison", "planetName": "ancientvault_poison", "warpAction": "InstanceWorld:ancientvault_poison", "icon": "toxic"},
						{"name": "Ancient Vault: Fire", "planetName": "ancientvault_fire", "warpAction": "InstanceWorld:ancientvault_fire", "icon": "magma"},
						{"name": "Challenge Rooms", "planetName": "challengerooms", "warpAction": "InstanceWorld:challengerooms", "icon": "ancientgateway"},
						{"name": "Anomaly", "planetName": "spaceencounter", "warpAction": "InstanceWorld:spaceencounter", "icon": "asteroids"},
						{"name": "Bounty Anomaly", "planetName": "bountyspaceencounter", "warpAction": "InstanceWorld:bountyspaceencounter", "icon": "asteroids"},
						{"name": "Bounty Ship", "planetName": "bountyshipencounter", "warpAction": "InstanceWorld:bountyshipencounter", "icon": "asteroids"},
						{"name": "Pirate Ship", "planetName": "pirateship", "warpAction": "InstanceWorld:pirateship", "icon": "asteroids"},
						{"name": "Cultist Ship", "planetName": "cultistship", "warpAction": "InstanceWorld:cultistship", "icon": "asteroids"},
						{"name": "Penguin Ship", "planetName": "penguinship", "warpAction": "InstanceWorld:penguinship", "icon": "asteroids"},

						{"name": "Research Ship", "planetName": "researchship", "warpAction": "InstanceWorld:researchship", "icon": "asteroids"},
						{"name": "Merchant Astro Ship", "planetName": "merchantastroship", "warpAction": "InstanceWorld:merchantastroship", "icon": "asteroids"},
						{"name": "Merchant Industrial Ship", "planetName": "merchantindustrialship", "warpAction": "InstanceWorld:merchantindustrialship", "icon": "asteroids"},
						{"name": "Spacestation: Electronics", "planetName": "spacestation_electronics", "warpAction": "InstanceWorld:spacestation_electronics", "icon": "spacestation"},
						{"name": "Spacestation: Food", "planetName": "spacestation_food", "warpAction": "InstanceWorld:spacestation_food", "icon": "spacestation"},
						{"name": "Spacestation: Medical", "planetName": "spacestation_medical", "warpAction": "InstanceWorld:spacestation_medical", "icon": "spacestation"},
						{"name": "Spacestation: Weapons", "planetName": "spacestation_weapons", "warpAction": "InstanceWorld:spacestation_weapons", "icon": "spacestation"},
						{"name": "Spacestation: Peacekeeper A", "planetName": "spacestation_peacekeeper1", "warpAction": "InstanceWorld:spacestation_peacekeeper1", "icon": "spacestation"},
						{"name": "Spacestation: Peacekeeper B", "planetName": "spacestation_peacekeeper2", "warpAction": "InstanceWorld:spacestation_peacekeeper2", "icon": "spacestation"},
						{"name": "Spacestation: Peacekeeper C", "planetName": "spacestation_peacekeeper3", "warpAction": "InstanceWorld:spacestation_peacekeeper3", "icon": "spacestation"},
						{"name": "Spacestation: Peacekeeper D", "planetName": "spacestation_peacekeeper4", "warpAction": "InstanceWorld:spacestation_peacekeeper4", "icon": "spacestation"},
						{"name": "Spacestation: Peacekeeper E", "planetName": "spacestation_peacekeeper5", "warpAction": "InstanceWorld:spacestation_peacekeeper5", "icon": "spacestation"},

						{"name": "Floran Arena: 1", "planetName": "arena1", "warpAction": "InstanceWorld:arena1", "icon": "forest"},
						{"name": "Floran Arena: 2", "planetName": "arena2", "warpAction": "InstanceWorld:arena2", "icon": "forest"},
						{"name": "Floran Arena: 3", "planetName": "arena3", "warpAction": "InstanceWorld:arena3", "icon": "forest"},
						{"name": "Cultist Mission", "planetName": "cultistmission1", "warpAction": "InstanceWorld:cultistmission1", "icon": "asteroids"},
						{"name": "Mech Test: Basic", "planetName": "mechtestbasic", "warpAction": "InstanceWorld:mechtestbasic", "icon": "deploy"},
						{"name": "Mech Test: Advanced", "planetName": "mechtestadvanced", "warpAction": "InstanceWorld:mechtestadvanced", "icon": "deploy"},
						{"name": "Tech Challenge: Dash", "planetName": "techchallenge_dash", "warpAction": "InstanceWorld:techchallenge_dash", "icon": "teleporter"},
						{"name": "Tech Challenge: Doublejump", "planetName": "techchallenge_doublejump", "warpAction": "InstanceWorld:techchallenge_doublejump", "icon": "teleporter"},
						{"name": "Tech Challenge: Morphball", "planetName": "techchallenge_morphball", "warpAction": "InstanceWorld:techchallenge_morphball", "icon": "teleporter"}
					]
				}
			}
		}
	]
}
