{
  "interactivePulseRate" : 1.25,
  "interactivePulseAmount" : 0.5,

  "inspectionFlickerAmount" : 0.15,

  "maxHighlightLevel" : 0.75,
  "highlightDirectives" : {
    "interactive" : {
      "underlay" : "",
      "overlay" : ""
    },
    "inspectable" : {
      "underlay" : "?outline=1;a6f8;0000",
      "overlay" : ""
    },
    "interesting" : {
      "underlay" : "?outline=1;a6f;0000",
      "overlay" : ""
    },
    "inspected" : {
      "underlay" : "?outline=1;a6f8;0000",
      "overlay" : ""
    }
  }
}
