{
  "randomizedDistance" : 0,
  "randomizedSpeed" : 0,
  "throwSpeed" : 80,
  "throwIntangibleTime" : 1.0,
  "velocity" : 90,
  "velocityApproach" : 0,
  "pickupDistance" : 0.5,
  "combineChance" : 1,
  "combineRadius" : 0.5,
  "afterTakenLife" : 0.0,

  "movementSettings" : {
    "enableSurfaceSlopeCorrection" : true,
    "maximumCorrection" : 5,
	"bounceFactor" : 0.5
  }
}
