{
  "casual" : {
    "hunger" : false,
    "allowBeamUpUnderground" : true,
    "deathDropItemTypes" : "none",
    "reviveCostPercentile" : 0.0,
    "permadeath" : false
  },
  "survival" : {
    "hunger" : true,
    "allowBeamUpUnderground" : true,
    "deathDropItemTypes" : [
      "generic",
      "consumable"
    ],
    "reviveCostPercentile" : 0.3,
    "permadeath" : false
  },
  "hardcore" : {
    "hunger" : true,
    "allowBeamUpUnderground" : false,
    "deathDropItemTypes" : "all",
    "reviveCostPercentile" : 1,
    "permadeath" : false
  }
}
